<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<title>Save Training</title>
</head>

<body onload="initial()">

	<div class="container">
		<h3>Training Directory</h3>
		<hr>

		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">RunApp</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link"
						href="/trainings/plan">Plan <span class="sr-only"></span></a></li>
					<li class="nav-item"><a class="nav-link"
						href="/trainings/history">Historia</a></li>
					<li class="nav-item"><a class="nav-link" href="/goals/list">Cele</a>
					<li class="nav-item"><a class="nav-link" href="/series">Serie<span
							class="sr-only"></span></a></li>
					</li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Statystyki </a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/statistics/main">Ogólne</a> <a
								class="dropdown-item" href="/statistics/annual">Zestawienia
								roczne</a> <a class="dropdown-item" href="/statistics/monthly">Zestawienia
								miesięczne</a> <a class="dropdown-item" href="/statistics/records">Rekordy</a>
						</div></li>
				</ul>
			</div>
		</nav>
		<form action="#" th:action="@{/goals/save}" th:object="${goal}"
			method="POST">

			<input type="hidden" th:field="*{id}"> <input type="hidden"
				th:field="*{quantityProgress}"> <input type="hidden"
				th:field="*{distanceProgress}"> <input type="hidden"
				th:field="*{isDone}">

			<div class="form-group">
				<label for="typeSelect">Typ celu</label> <select
					class="form-control col-4" id="typeSelect" th:field="*{type}"
					name="type" onchange="changeType()">
					<option
						th:each="typeOpt : ${T(pl.kniewiadomski.runningApp.enums.GoalType).values()}"
						th:value="${typeOpt}" th:text="${typeOpt.displayValue}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="nameInput">Data początku</label> <input type="date"
					th:field="*{startDate}"
					class="form-control mb-4 col-4"
					placeholder="Date"> <small class="form-text "
					style="color: red;" th:if="${#fields.hasErrors('startDate')}"
					th:errors="*{startDate}"></small>
			</div>
			<div class="form-group">
				<label for="nameInput">Data końca</label> <input type="date"
					th:field="*{endDate}"
					class="form-control mb-4 col-4"
					placeholder="Date"> <small class="form-text "
					style="color: red;" th:if="${#fields.hasErrors('endDate')}"
					th:errors="*{endDate}"></small>
			</div>
			<div class="form-group">
				<label for="nameInput">Dystans</label> <input type="number"
					step="0.01" th:field="*{distance}"
					class="formElement distance totalDistance timeOnDistance form-control mb-4 col-4"
					placeholder="Dystans"> <small class="form-text "
					style="color: red;" th:if="${#fields.hasErrors('distance')}"
					th:errors="*{distance}"></small>
			</div>
			<div class="form-group">
				<label for="nameInput">Czas</label> <input type="text"
					th:field="*{time}"
					class="formElement timeOnDistance form-control mb-4 col-4"
					placeholder="HH:MM:SS"> <small class="form-text "
					style="color: red;" th:if="${#fields.hasErrors('time')}"
					th:errors="*{time}"></small>
			</div>
			<div class="form-group">
				<label for="nameInput">Ilość treningów</label> <input type="number"
					step="1" th:field="*{quantity}"
					class="formElement quantity form-control mb-4 col-4"
					placeholder="Ilość"> <small class="form-text "
					style="color: red;" th:if="${#fields.hasErrors('quantity')}"
					th:errors="*{quantity}"></small>
			</div>


			<small id="goalValidations" class="form-text" style="color: red;"
				th:if="${#fields.hasErrors('${goal}')}" th:errors="${goal}"></small>
			<button type="submit" class="btn btn-info col-2">Save</button>
		</form>

		<a th:href="@{/goals/list}">Wróc do celów</a>


	</div>
	<script type="text/javascript" th:src="@{/js/goalForm.js}"></script>
</body>

</html>