<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>

 	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<title>Save Training</title>
</head>

<body>

<div class="container">
	<h3>Training Directory</h3>
	<hr>
	
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">RunApp</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link"
						href="/trainings/plan">Plan <span class="sr-only"></span></a></li>
					<li class="nav-item"><a class="nav-link"
						href="/trainings/history">Historia</a></li>
					<li class="nav-item"><a class="nav-link" href="/goals/list">Cele</a>
					<li class="nav-item"><a class="nav-link"
						href="/series">Serie<span class="sr-only"></span></a></li>
					</li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#"
						id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> Statystyki </a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/statistics/main">Ogólne</a> <a
								class="dropdown-item" href="/statistics/annual">Zestawienia
								roczne</a> <a class="dropdown-item" href="/statistics/monthly">Zestawienia
								miesięczne</a> <a class="dropdown-item" href="/statistics/records">Rekordy</a>
						</div></li>
				</ul>
			</div>
		</nav>
	
	<form action="#" th:action="@{/trainings/save}"
					th:object="${training}" method = "POST">
		<input type="hidden" th:field="*{id}">
		<input type="hidden" th:field="*{isDone}">
		<input type="hidden" th:field="*{name}">
		<input type="hidden" th:field="*{details.id}">
		<input type="hidden" th:field="*{details.type}">
		<input type="hidden" th:field="*{details.distance}">
		<input type="hidden" th:field="*{details.minHr}">
		<input type="hidden" th:field="*{details.maxHr}">
		<input type="hidden" th:field="*{details.time}">
		<input type="hidden" th:field="*{details.fastDistance}">
		<input type="hidden" th:field="*{details.recoverDistance}">
		<input type="hidden" th:field="*{details.fastTime}">
		<input type="hidden" th:field="*{details.recoverTime}">
		<input type="hidden" th:field="*{details.intervalQuantity}">
		<input type="hidden" th:field="*{result.id}">
		
		<table class="table table-dark table-striped table-hover">
		<thead class="thead-dark">
			<tr>
				<th></th>
				<th>Zaplanowany</th>
				<th>Wynik</th>
			</tr>
		</thead>

			<tbody>
				<tr>
					<td><b>Data</b></td>
					<td th:text="*{#dates.format(date, 'yyyy-MM-dd')}"/>
					<td><input type ="date" th:field="*{date}" class="form-control mb-4 col-4"></td>
					<td></td>
				</tr>
				<tr>
					<td><b>Dystans</b></td>
					<span th:if="${training.details.type == T(pl.kniewiadomski.runningApp.enums.TrainingType).DISTANCE_INTERVAL}">
						<td th:text="${training.details.fastDistance} + ' / ' + ${training.details.recoverDistance} + '  x' + ${training.details.intervalQuantity}"/>
					</span>
					<span th:if="${training.details.type == T(pl.kniewiadomski.runningApp.enums.TrainingType).CONSTANT}">
						<td th:text="${training.details.distance != null} ? ${training.details.distance} : '-'"/>
					</span>
					<span th:if="${training.details.type == T(pl.kniewiadomski.runningApp.enums.TrainingType).TIME_INTERVAL}">
						<td> - </td>
					</span>
					<td>
						<input type = "number" step="0.01" th:field="*{result.actDistance}" class="form-control mb-4 col-4" placeholder="Distance">
						<small id="distanceHelp" class="form-text " style="color:red" th:if="${#fields.hasErrors('result.actDistance')}" th:errors="*{result.actDistance}"></small>
					</td>
				</tr>
				<tr>
					<td><b>Puls</b></td>
					<td>
						<span th:if="${training.details.minHr != null and training.details.maxHr != null}"><p th:text="${training.details.minHr + ' - ' + training.details.maxHr}"></p></span>
						<span th:if="${training.details.minHr == null and training.details.maxHr != null}"><p th:text="${'do ' + training.details.maxHr}"></p></span>
						<span th:if="${training.details.minHr != null and training.details.maxHr == null}"><p th:text="${'powyżej ' + training.details.minHr}"></p></span>
						<span th:if="${training.details.minHr == null and training.details.maxHr == null}"><p th:text="${' - '}"></p></span>
					</td>
					<td>
						<input type = "number" step="1" th:field="*{result.actHr}" class="form-control mb-4 col-4" placeholder="HR">
						<small id="maxHrHelp" class="form-text " style="color:red;" th:if="${#fields.hasErrors('result.actHr')}" th:errors="*{result.actHr}"></small>
					</td>
				</tr>
				<tr>
					<td><b>Czas</b></td>							
					<span th:if="${training.details.type != T(pl.kniewiadomski.runningApp.enums.TrainingType).TIME_INTERVAL}">
						<td th:text="${training.details.time != null} ? ${training.details.time} : '-'" />
					</span>
					<span th:if="${training.details.type == T(pl.kniewiadomski.runningApp.enums.TrainingType).TIME_INTERVAL}">
						<td th:text="${training.details.fastTime} + ' / ' + ${training.details.recoverTime} + '    x' + ${training.details.intervalQuantity}"/>
					</span>
					
					<td>
						<input type ="text" th:field="*{result.actTime}" class="form-control mb-4 col-4" placeholder="HH:MM:SS">
						<small id="timeHelp" class="form-text " style="color:red;" th:if="${#fields.hasErrors('result.actTime')}" th:errors="*{result.actTime}"></small>
					</td>
				</tr>
			</tbody>
		</table>			
		<small id="trainingValidations" class="form-text" style="color:red;" th:if="${#fields.hasErrors('${training}')}"th:errors="${training}"></small>
	<button type="submit" class="btn btn-info col-2">Save</button>
	</form>
	
	<a th:href="@{/trainings/plan}">Wróc do listy treningów</a>
		
</div>
</body>

</html>